<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>DB Flask</title>
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>∂
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-cloud fa-fw"></i> DB Flask</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        {% if g.user.is_authenticated() %}
        <ul class="nav navbar-nav" style="float: right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-user fa-fw"></i> Connected <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Log out</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>