{% extends "base.html" %}
{% block content %}
  <div class="container" style="margin-top:40px">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong> Sign in</strong>
          </div>
          <div class="panel-body">
            <form role="form" action="#" method="POST">
            {{ form.hidden_tag() }}
              <fieldset>
                <div class="row">
                  <div class="center-block">
                    <img class="profile-img"
                    src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                        {{ form.login(class_='form-control', placeholder='Username', autofocus='') }}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        {{ form.password(class_='form-control', placeholder='Password') }}
                      </div>
                    </div>
                    <div class="form-group">
                      {{ form.remember_me }} <label for="remember_me">Remember Me</label>
                    </div>

                      {% if form.errors %}
                        <div class="form-group">
                          <ul class="errors">
                              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                  {% for error in field_errors %}
                                      <li>{{ form[field_name].label }}: {{ error }}</li>
                                  {% endfor %}
                              {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    <div class="form-group">
                      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}